body {
  background-color: pink;
  font-family: "Nunito", sans-serif;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
}

#headingGroup span {
  color: #ea1c2c;
}

#headingGroup span:hover {
  color: #1c9fea;
}
