body {
  background-color: pink;
  font-family: "Nunito", sans-serif;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
}

#headingGroup span {
  color: #ea1c2c;
}

#headingGroup span:hover {
  color: #1c9fea;
}

@media (max-width: 1200px) {
  #headingGroup h2 {
    color: aqua;
  }
}

h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}

#textContent p {
  color: white;
  font-size: 1.12rem;
  font-weight: 100;
  line-height: 2;
}

.content {
  margin-top: 100px;
}